* {
    margin: 0;
    padding: 0;
}

div#popupScreen {
    display: none;
}

div#popupScreen.active {
    display: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: black;
    color: white;

}

div#popupScreen.active h2 {
    font-size: 25px; 
}

div#popupScreen.active button#actionButton {
    width: 50%;
}